/* Site Header
---------------------------------------------- */

.site-header {
	// padding: 0 30px;
	background-color: $site-header--background-color;

	// @media only screen and (min-width: $standard-screen-width) {
	// 	position: fixed;
	// 	z-index: 9999;
	// 	width: 100%;
	// }
}
.site-header > .wrap {
	padding: 20px 0;
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 10px 0;

	.wp-custom-logo & {
		width: 100%;
		max-width: 350px;
		padding-top: 5px;
		padding-bottom: 5px;

		img {
			width: auto;
		}
	}
}

.site-title {
	margin-bottom: 0;
	font-size: $site-title--font-size;
	font-weight: $font-weight--semibold;
	line-height: $line-height--smaller;
	font-size: 30px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;

	a,
	a:focus,
	a:hover {
		// color: $site-title__link--font-color;
		color: #333;
		text-decoration: none;
	}
	
	p.site-description {
		display: none;
	}
	.wp-custom-logo & {
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		position: absolute !important;
		width: 1px;
		height: 1px;
		border: 0;
		word-wrap: normal !important;
	}
}

.site-description {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 400;
	line-height: 1.5;
	margin-bottom: 0;
}

div.site-container>header>div>div.title-area>p.site-title>a,
div.site-container>header>div>div.title-area>h1>a {
     margin: 4vh auto;
}

.header-image .title-area {
    margin: 0 auto;
    max-width: 1080px;
    padding: 0;
}

.header-full-width .title-area {
    float: none;
    width: 100%;
}
.header-image .site-title>a {
    background-position: center !important;
    background-size: contain !important;
    float: left;
    min-height: 180px;
    width: 100%;
}

.header-image .site-description,
.header-image .site-title {
    display: block;
    text-indent: -9999px;
}
