/*
    Version: 1.0.0

    the mega menu
    Ref: https://sridharkatakam.com/mega-menus-genesis/
    Ref: https://css-tricks.com/dropdown-menus-with-more-forgiving-mouse-movement-paths/

    Text Domain: pineland
*/

@media only screen and (min-width: 1024px) {
    .genesis-responsive-menu .wrap {
        position: relative;
    }
    .mega-menu>.sub-menu {
        background-color: #84BFA9;
        /* -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
        width: 100%;
        /* max-width: 1280px; */
        max-width: 1980px;
        padding: 10px 20px;
        /*comment this out to have mega menu's left edge in line with the hovered menu item*/
        left: 0 !important;
    }
    /* Use this to center the menu instead of left align */
    /* 
    .mega-menu > .sub-menu {
		-webkit-transform: translate(25%, 0);
		transform: translate(25%, 0);
    } 
    */
    /* Use this to have 1st menu item start at left edge of primary menu item */
    .mega-menu>.sub-menu {
        padding-left: calc(50vw - (1280px/2));
    }
    /* Deal with disappearing mega menus */
    /* delay of 1 seconds on hover off */
    .mega-menu>.sub-menu {
        visibility: hidden;
        transition: 0.2s 1s;
    }
    /* react immediately on hover */
    .mega-menu:hover .sub-menu {
        visibility: visible;
        transition-delay: 0s;
    }
    /* first of the 4 columns in the mega menu */
    .mega-menu>.sub-menu>li:nth-of-type(4n+1) {
        clear: left;
    }
    /* each column in the mega menu */
    .mega-menu>.sub-menu>li {
        /* width: 25%; */
        float: left;
    }
    /* show the contents (3rd level) of each of the columns */
    .mega-menu:hover li ul {
        display: block !important;
    }
    .genesis-nav-menu .sub-menu,
    .genesis-nav-menu li.mega-menu li ul {
        opacity: 1;
        border-top: none;
    }
    .genesis-nav-menu .sub-menu .sub-menu,
    .genesis-nav-menu .sub-menu .sub-menu .sub-menu {
        position: relative;
        top: auto;
        left: auto;
        margin: 0;
        width: auto;
    }
    /* make list items appear one below the other in columns */
    .genesis-nav-menu .sub-menu .sub-menu li,
    .genesis-nav-menu .sub-menu .sub-menu .sub-menu li,
    .genesis-nav-menu .sub-menu .sub-menu .sub-menu .sub-menu li {
        display: block;
    }
    /* remove border from menu items inside the mega menu */
    .mega-menu .sub-menu a {
        border: none;
    }
    /* column titles */
    .mega-menu>ul>li>a:first-child {
        font-weight: bold;
        width: 90%;
        border-bottom: 1px solid #eee;
        margin: 0 5px 0;
    }
    /* menu item links in the mega menu */
    .mega-menu .sub-menu a {
        padding: 15px 20px;
        line-height: 1.2;
        width: 100%;
        background-color: transparent;
    }
    .mega-menu ul li a:hover {
        background-color: rgba(0, 0, 0, 0.03);
        opacity: 0.7;
        text-decoration: none;
        color: #333;
    }
    .mega-menu>ul>li>a:first-child:hover {
        background-color: transparent;
    }
    /* Rework sub menus to allow for content driven varying widths */
    .mega-menu a,
    .mega-menu li,
    .mega-menu li li,
    .mega-menu li ul,
    .mega-menu>ul>li>a:first-child {
        width: auto;
    }
    .mega-menu li,
    .mega-menu li li {
        white-space: nowrap;
    }
    .mega-menu li ul {
        min-width: 100%;
    }
}


/* @media only screen and (max-width: 1023px) {
    .genesis-nav-menu .mega-menu .sub-menu {
        overflow: hidden;
        width: 100%;
    }
    .genesis-nav-menu .mega-menu .sub-menu a {
        width: auto;
    }
} */