// This would be the styles needed to implement:
// https://sridharkatakam.com/add-inline-mobile-responsive-menu-genesis-sample/
//@TODO merge into modular structure
.nav-primary {
    border-top: none;
    float: right;
}

@media only screen and (max-width: 1023px) {

    .site-header .wrap {
        padding-left: 0;
        padding-right: 0;
    }

    .title-area {
        width: auto;
    }

    .header-image .title-area {
        float: left;
        width: 100%;
    }

    .menu-toggle {
        width: auto;
        border-top: none;
        float: right;
        margin-top: 16px;
    }

    .menu-toggle,
    .menu-toggle:focus,
    .menu-toggle:hover {
        border-top: none;
    }

    .nav-primary {
        float: none;
        clear: both;
    }

}

@media only screen and (max-width: 860px) {

    .site-header .wrap {
        padding-left: 5%;
        padding-right: 5%;
    }

}

@media only screen and (max-width: 500px) {

    .title-area,
    .menu-toggle {
        float: none;
        width: 100%;
    }

    .header-image .title-area {
        float: none;
        overflow: hidden;
    }

}