/* Teachers
---------------------------------------------------------------------------------------------------- */

.teacher-entry {
    background-color: white;
}

.alignright.teacher-image {
    border: 4px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 6px #888;
    display: block;
    height: 122px;
    margin-left: 20px;
    overflow: hidden;
    width: 122px;
}

#genesis-content>div.teacher-entries>article:nth-child(1)>div>h2,
.teacher-wrap .teacher-name {
    color: black;
}

#genesis-content>article>header>article>div>div {
    margin-bottom: 15px;
}

article.teacher-entry>div>a>span.teacher-phone,
article.teacher-entry>div>a>span.teacher-email,
#genesis-content>article>header>article>div>a:nth-child(3)>span {
    text-decoration: none;
    text-transform: lowercase;
}

article.teacher-entry>div>a>span.teacher-email {
    margin-bottom: 20px;
}

article.teacher-entry .teacher-wrap>span>img {
    border-radius: 50%;
    display: block;
    height: auto;
    margin-left: 5px;
    width: 100%;
}

.teacher-wrap>h2.teacher-title {
    margin-bottom: 0;
}

#genesis-content>div.teacher-entries>article:nth-child(1)>div>h2,
.teacher-wrap .teacher-name {
    color: #abadb0;
    display: block;
    margin-top: 20px;
}

.teacher-contact-wrap {
    display: block !important;
    margin-bottom: 20px;
}

.entry-member img.teacher-image {
    background-color: #f9f9f9;
    border: 1px solid #ECECED;
    padding: 5px;
}

